<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/admin_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="../../static/css/me.css" rel="stylesheet" type="text/css" th:href="@{/css/me.css}">
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/admin_fragment :: menu(1)" class="ui inverted attached segment m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" th:href="@{/admin/partTimes}" class="m-item item m-mobile-hide"><i class="home icon"></i>兼职信息</a>
            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/payments}" class="m-item item m-mobile-hide"><i class="tags icon"></i>支付方式</a>
            <div class="right m-item menu m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <span th:text="${session.user.username}">小成</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<br>
<!-- 中间内容 -->
<div class="m-padded-tb-huge m-container">
    <div class="ui container">
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>发布人</th>
                <th>标题</th>
                <th>类型</th>
                <th>支付方式</th>
                <th>价格</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>xiaocheng</td>
                <td>2食堂2楼小炒菜招外卖员</td>
                <td>外卖员</td>
                <td>月结</td>
                <td>2元/单</td>
                <td>2020-05-06 22:49</td>
                <td>
                    <a href="#" class="ui mini teal basic button">编辑</a>
                    <a href="#" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr><th colspan="8">
                <div class="ui mini floated pagination menu">
                    <a class="item">上一页</a>
                    <a class="item">下一页</a>
                </div>
                <a href="#" class="ui right floated teal basic button">新增</a>
            </th>
            </tr></tfoot>
        </table>
    </div>
</div>
<br>
<br>
<!-- 底部 footer -->
<footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/avatar.jpg" th:src="@{/img/avatar.jpg}" class="ui rounded image" alt="" style="width: 90px;">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header m-text-thin">最新兼职信息</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 （User Story）</a>
                    <a href="#" class="item">用户故事 （User Story）</a>
                    <a href="#" class="item">用户故事 （User Story）</a>
                </div>
            </div>
            <div class="five wide column">
                <h3 class="ui inverted header m-text-thin">联系我</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：chenbbion@outlook.com</a>
                    <a href="#" class="item">QQ：361415506</a>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header m-text-thin">广告投放</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item"> 详情及介绍 </a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-mini">Copyright © 2020 - 2021 This part-time website Designed by ChenYicheng</p>
    </div>
</footer>
<th:block th:replace="_fragment :: script">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

</script>
</body>
</html>
