

.m-padded-mini{
    padding: 0.2em !important;
}

.m-padded-tiny{
    padding: 0.4em !important;
}
.m-padded{
    padding: 1em !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/* container*/
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

.m-text-thin {
    font-weight: 300 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}

/* -------margin------- */
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-buttom-mini{
    margin-bottom: 0.3em !important;
}

.m-margin-buttom{
    margin-bottom: 5px !important;
}

.m-margin-top-mini{
    margin-top: 8px;
}



/*------透明度-------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}

body{
    background: url(../images/foggy_birds.png);
}

/* ------shadow------ */
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}


/* display */
.m-inline-block {
    display: inline-block !important;
}

/* color */
.m-black {
    color: #333 !important;
}

/* position */
.m-right-top{
    position: absolute;
    top: 0;
    right: 0;
}

.m-fixed{
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}

/* 显示与隐藏 */
.m-mobile-show{
    display: none !important;
}




@media screen and (max-width:768px) {
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-padded-lr-clear{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
}


.tr_hover :hover{
    background-color: darkgray;
}
/*广告位*/
#Ad{
    position: fixed;
    margin-left: 20px;
    margin-bottom: 100px;
    z-index: 999;
}
